<!doctype html>
<html>
<head>
    <title>Calorie Counter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">


        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <div class="col-sm-6">
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message">
              <span><%= messages[i].food %></span>
              <span class="total"><%= messages[i].calorie %></span>
              <!-- <span><%= messages[i].date %></span> -->
              <span class="trash"><i class="fas fa-eraser"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>Food Log</h2>
          <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" placeholder="Food" name="food">
            <input class="calorie" value="" placeholder="Calorie" name="calorie">
            <!-- <input type="date" name="date"> -->
            <button class="button1"type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>
<button id="calculate" type="button" name="button"> calculate</button>
<h1 id="results"></h1>
<script src="main.js"></script>

</body>
</html>
